*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/core/.deps/
src/core/.dirstamp
src/crypto/.deps/
src/crypto/.dirstamp
src/format/.deps/
src/format/.dirstamp
src/keys/.deps/
src/keys/.dirstamp
src/streams/.deps/
src/streams/.dirstamp
stamp-h1

